
<ul class="nav" role="menu">
    <!--<li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li> -->
    <!--<li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li> -->
<!--
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
-->
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/java/">Java</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/algorithm/">자료구조와 알고리즘</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/coding/">코딩테스트</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/some/">알쓸잡</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/oracle/">Oracle</a></li>
    <!--<li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/spring/">Spring</a></li>-->
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/error/">error</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/blockchain/">블록체인</a></li>

    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>

</ul>